# axon - Axon daemon
#
[Unit]
Description=Axon Traffic Generaion Service Daemon

[Service]
Environment="PYTHONPATH=$PYTHONPATH:/opt/"
ExecStart=/usr/bin/python -maxon.controller.rpyc_controller
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
Alias=axon.service
